.wrapper {
    margin-top: 20px;
    display: grid;
    grid-template-rows: 30px 1fr;
}

.add {
    display: grid;
    grid-template-columns: 200px 14px;
    align-items: center;
    justify-content: end;
    cursor: pointer;
}

@media (max-width: 476px){
    .nav-item span, .active span {
        margin-left: 8px;
        font-size: 0.8rem;
    }
}