.container {
    margin-top: 2px;
    background-color: rgb(250, 250, 250);
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 8px;
    width: 222px;
    /* padding-right: 100px; */
    margin-bottom: 10px;
}
.header {
    color: black;
    padding: 10px 4px;
    display: flex;
    text-decoration: none;
}

.header:hover {
    color: black;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 8px;
    object-fit: cover;
}

.recipe-img {
    position: relative;
    display: block;
}

.recipe-img span {
    position: absolute;
    bottom: 4px;
    left: 4px;
    color: white;
    padding: 2px 8px;
    background-color: rgba(0,0,0,0.6);
    border-radius: 8px;
}

.img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.name {
    margin-left: 6px;
    display: flex;
    justify-content: space-between;
}

.btn {
    color: black;
    background: none;
    border: none;
}

.btn:hover {
    opacity: 0.6;
}

.active {
    color: red;
}

@media (max-width: 476px){
    .container {
        width: 100%;
    }
}