.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: 200px 1fr;
    margin-top: 20px;
}

.left img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
}

.header {
    display: flex;
}

.btn {
    margin-left: 20px;
    /* width: 120px; */
}

.detail {
    display: grid;
    grid-template-columns: 140px 1fr 1fr;
}

.detail span:not(:first-child) {
    cursor: pointer;
}


.description {
    margin-top: 10px;
}