.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    position: relative;
    display: flex;
    background-color: #f8f6f2;
    width: 100%;
    padding-top: 70px;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.content {
    /* position: absolute; */
    padding: 0 24px;
    /* width: 990px; */
    min-height: 644px;
}