.loading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    animation: load 2s linear infinite;
    margin-top: 80px;
}

@keyframes load {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

