.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.img {
    position: relative;
    background-color: rgb(248 246 242/1);
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.camera-icon {
    position: absolute;
    left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
    font-size: 1.6rem;
    opacity: 0.6;
}

.img input, .input {
    inset: 0;
    position: absolute;
    display: block;
    opacity: 0;
    cursor: pointer;
}

.preview {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    position: relative;
    margin-bottom: 20px;
}

.custom-img {
    background-color: rgb(0 0 0/0.8);
    /* width: 100px; */
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, 50%);
    color: white;
    border-radius: 8px;
    padding: 0px 4px;
}

.icon {
    padding: 6px;
    font-size: 1rem;
}

.preview-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}


.upload, .delete {
    cursor: pointer;
    position: relative;
}

.upload::after {
    content: '';
    position: absolute;
    right: -6px;
    top: 8px;
    bottom: 10px;
    width: 1.7px;
    background-color: rgb(255 255 255/0.6);
    z-index: 10;
}

.container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.infor {
    margin: 15px 0;
    display: grid;
}

.infor textarea {
    margin-top: 8px;
    width: 100%;
    background-color: rgb(248 246 242/1);
    border-radius: 0.25rem;
    padding: 0.5rem;
    outline: 2px solid transparent;
    border: none;
    overflow: hidden;
    resize: none;
}

.input1 {
    margin-top: 8px;
    width: 100%;
    background-color: rgb(248 246 242/1);
    border-radius: 0.25rem;
    padding: 0.5rem;
    outline: 2px solid transparent;
    border: none;
}


.infor label {
    color: #606060;
}
