.landing {
  position: relative;
	background: url('./assets/images/bg.jpg') no-repeat center/cover;
	height: 100vh;
}

.dark-overlay {
	background-color: rgba(0, 0, 0, 0.5);
	height: 100%;
}

.landing-inner {
	position: absolute;
	left: 12%;
	top: 16%;
	text-align: center;
}